rpcuser=VARIABLE
rpcpassword=VARIABLE
rpcallowip=127.0.0.1
rpcport=VARIABLE

logtimestamps=1
maxconnections=256
bind=VARIABLE

listen=1
server=1
daemon=1

gen=0
masternode=1
masternodeprivkey=INSERT_MASTERNODE_PROV_KEY_HERE